.masked-text {
  font-weight: bold;
  color: transparent;
  background: url("./../../assets/Home/hero_section.jpeg") no-repeat center; /* Replace with your image path */
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-mask-image: url("./../../assets/Home/hero_section.jpeg"); /* Replace with your mask image path */
  mask-image: url("./../../assets/Home/hero_section.jpeg");
}

.gradient-text {
  font-size: 100px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
  );
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
}

.octagon {
  width: 300px;
  height: 300px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  object-fit: cover;
}
